.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    //flex column display allows us to put nav at top and legal at bottom
    display: flex;
    flex-direction: column; 
    justify-content: space-between;

}